{{ #> base title="Competição" }}
  <div id="contest">
    <div id="breadcumb">
      <a href="{{base_url}}">Início</a>
      /
      <a href="{{base_url}}contests/">Competições</a>
      /
      <a href="{{base_url}}contests/{{ contest.id }}">{{ contest.name }}</a>
    </div>

    <div id="problems">
      {{ #each problems }}
      <a href="{{base_url}}contests/{{ ../contest.id }}/{{ this.label }}" class="problem">
        <div class="problem-info">
          <div class="name">
            {{ this.label }} · {{ this.name }}
          </div>
          <div class="extra">
            {{this.time_limit}}s · {{ this.memory_limit_mib }}MiB
          </div>
        </div>
        <div class="span"></div>
        {{#if this.first_ac_submission_time}}
          <div class="score accepted">
            <div>
              +{{#if this.failed_submissions}}{{this.failed_submissions}}{{/if}}
            </div>
            <div class="time">
              {{this.first_ac_submission_time}}
            </div>
          </div>
        {{else}}
          {{#if this.failed_submissions}}
            <div class="score wrong-answer">
              <div>–{{ this.failed_submissions }}</div>
            </div>
          {{/if}}
        {{/if}}
      </a>
      {{ /each }}
    </div>
  </div>

  <div id="submissions" hx-sse="connect:/submission_updates/">
    Submissões
    <div id="submissions-list" hx-get="/submissions/me/contests/{{ contest.id }}" hx-trigger="load, sse:update_submission">
    {{> submissions }}
    </div>
  </div>
{{ /base }}
