{{ #each submissions }}
{{ #if (eq this.verdict "WJ") }}
<div id="submission-{{ this.uuid }}" class="submission waiting-judge">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="lds-hourglass"></div>
    <div class="verdict">WJ</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "AC") }}
<div id="submission-{{ this.uuid }}" class="submission accepted">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">AC</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "WA") }}
<div id="submission-{{ this.uuid }}" class="submission wrong-answer">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">WA</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="compilation-result">{{ this.error_output }}</div>
</div>
{{ /if }}
{{ #if (eq this.verdict "RE") }}
<div id="submission-{{ this.uuid }}" class="submission runtime-error">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">RE</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="compilation-result">{{ this.error_output }}</div>
</div>
{{ /if }}
{{ #if (eq this.verdict "ML") }}
<div id="submission-{{ this.uuid }}" class="submission memory-limit">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">ML</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "TL") }}
<div id="submission-{{ this.uuid }}" class="submission time-limit">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">TL</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "PE") }}
<div id="submission-{{ this.uuid }}" class="submission presentation-error">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">PE</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
</div>
{{ /if }}
{{ #if (eq this.verdict "CE") }}
<div id="submission-{{ this.uuid }}" class="submission compilation-error">
  <div class="uuid">{{ this.uuid }}</div>
  <div class="description">
    <div class="verdict">CE</div> · {{ this.problem_label }} · {{ this.submission_instant }}
  </div>
  <div class="compilation-result">{{ this.error_output }}</div>
</div>
{{ /if }}
{{ /each }}
